* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
}

header {
    background-color: #d32f2f;
    color: white;
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .title {
    font-size: 24px;
}

header .service {
    display: flex;
}

header .service p {
    margin-left: 20px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 25px;
}